<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #drawer mode="over" class="app-sidenav">
    <mat-nav-list>
      @for (link of routeList; track $index) {
        <a
          mat-list-item
          [routerLink]="['/', link.path]"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="drawer.close()"
        >
          <span matLine>{{ link.name }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar (toggleSideNav)="toggleSideNav()"></app-toolbar>
    <div class="app-main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
